@font-face {
    font-family: "HackGenConsoleNFJ";
    src: url("../assets/fonts/HackGenConsoleNFJ-Regular-Light.ttf") format("truetype");
}


body {
    font-family: HackGenConsoleNFJ, serif;
    margin: 2rem;
}

.border {
    border: 4px solid black;
}

.content {
    &-title {
        &-center {
            h1 {
                display: grid;
                place-content: center;
                gap: 1ch;
            }
        }
    }

}

