@font-face {
    font-family: "HackGenConsoleNFJ";
    src: url("../assets/fonts/HackGenConsoleNFJ-Regular-Light.ttf") format("truetype");
}

body {
    --font: "HackGenConsoleNFJ";
    --size: 1.5;
}


body .shell {

    margin: auto;
    width: 85vw;
    height: 20vh;
}

body .shell .terminal {
    height: calc(100% - 24px);
    padding: 12px;
}

body .shell .terminal .cmd {
    margin-bottom: 10px;
}

.shell .typed-cursor, .shell .cursor {
    background: transparent;
}

.shell > .status-bar .title {
    cursor: move;
}

/*
 * fix to shell.js to center title to free space
 */
.shell.windows .status-bar .title {
    right: 106px;
}

@supports (--css: variables) {
    .shell .terminal {
        --color: #eee;
    }

    .shell.ubuntu .terminal {
        --background: #300924;
    }
}

/*
 * overwrite shell.js style because shell.js
 * selectors are stronger then terminal ones
 */
.cmd span.cursor {
    animation: none;
    width: auto;
    background-color: var(--background, #000);
}

.shell .terminal.content {
    font-size: 16px;
}

.cmd {
    background-color: inherit;
}

@supports (--css: variables) {
    .shell .terminal.content {
        font-size: calc(var(--size, 1) * 12px);
    }
}

/* fix for Firefox */
.terminal > .resizer, .terminal > .font .resizer {
    visibility: visible;
    pointer-events: none;
}

.terminal::-webkit-scrollbar-track {
    border: 1px solid var(--color, #aaa);
    background-color: var(--background);
}

.terminal::-webkit-scrollbar {
    width: 10px;
    background-color: var(--background);
}

.terminal::-webkit-scrollbar-thumb {
    background-color: var(--color, #aaa);
}


.btn-close {
    width: 20px;
    height: 20px;
    margin-top: 4px;
    margin-left: calc(4px);
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    border: none;
    background-size: 18px 18px;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("../assets/images/cancel.png"),
                    radial-gradient(rgba(180, 40, 40, 0.85),rgba(240, 40, 40, 0.7));
}
.btn-minimize {
    width: 20px;
    height: 20px;
    margin-top: 4px;
    margin-left: calc(24px * 1 + 4px);
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    border: none;
    background-color: #888;
    background-size: 18px 18px;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("../assets/images/minimize.png");
}